In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Reference the file where the CSV is located
path = os.path.join("Resources", "crime_incident_data2017.csv")

df = pd.read_csv(path).rename(columns=lambda s:s.lower().replace(" ", "_"))
df.head(1)

# Import the data into a Pandas DataFrame

,address,case_number,crime_against,neighborhood,number_of_records,occur_date,occur_month_year,occur_time,offense_category,offense_count,offense_type,open_data_lat,open_data_lon,open_data_x,open_data_y,report_date,report_month_year
0,NaN,17-X4762181,Person,NaN,1,1/1/96,1/1/96,800,Sex Offenses,1,Rape,NaN,NaN,NaN,NaN,1/26/17,1/1/17

In [3]:
df.shape

(41032, 17)

In [4]:
df[["neighborhood", 
    "occur_date", 
    "occur_time", 
    "offense_category", 
    "offense_count",
    "offense_type", 
    "report_date"
   ]].dropna()

,neighborhood,occur_date,occur_time,offense_category,offense_count,offense_type,report_date
1,Centennial,1/20/00,1615,Fraud Offenses,1,Identity Theft,1/20/17
2,Montavilla,12/1/03,800,Fraud Offenses,1,False Pretenses/Swindle/Confidence Game,1/9/17
3,Southwest Hills,1/1/10,0,Fraud Offenses,1,Identity Theft,1/5/17
4,Southwest Hills,1/1/10,0,Larceny Offenses,1,All Other Larceny,1/5/17
5,King,11/28/10,1612,Fraud Offenses,1,Identity Theft,1/3/17
...,...,...,...,...,...,...,...
41026,Parkrose,8/31/17,2005,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,8/31/17
41027,Sumner,8/31/17,535,Drug/Narcotic Offenses,1,Drug/Narcotic Violations,8/31/17
41028,Hazelwood,8/31/17,1619,Prostitution Offenses,1,Prostitution,8/31/17
41029,Hazelwood,8/31/17,1959,Prostitution Offenses,1,Prostitution,8/31/17
41031,Foster-Powell,8/31/17,2354,Weapon Law Violations,1,Weapons Law Violations,8/31/17

In [5]:
df.columns

Index(['address', 'case_number', 'crime_against', 'neighborhood',
       'number_of_records', 'occur_date', 'occur_month_year', 'occur_time',
       'offense_category', 'offense_count', 'offense_type', 'open_data_lat',
       'open_data_lon', 'open_data_x', 'open_data_y', 'report_date',
       'report_month_year'],
      dtype='object')

In [6]:
df.loc[df["offense_count"]>=2, "offense_category"].unique()

array(['Motor Vehicle Theft'], dtype=object)

In [7]:
df.dtypes

address               object
case_number           object
crime_against         object
neighborhood          object
number_of_records      int64
occur_date            object
occur_month_year      object
occur_time             int64
offense_category      object
offense_count          int64
offense_type          object
open_data_lat        float64
open_data_lon        float64
open_data_x          float64
open_data_y          float64
report_date           object
report_month_year     object
dtype: object

In [8]:
# look for missing values

In [9]:
# drop null rows

In [10]:
# verify counts

In [11]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"

In [12]:
# Combine similar offenses

In [13]:
# Check to see if you comnbined similar offenses correctly in "Offense Type".

In [14]:
# Create a new DataFrame that looks into a specific neighborhood